Django>=5.2,<6.0
celery==5.5.3
redis==7.0.1
psycopg[binary,pq]==3.2.12
gunicorn==23.0.0
whitenoise==6.11.0
python-dotenv>=1.0
Telethon==1.34.0
google-api-python-client==2.187.0
oauth2client==4.1.3
PyDrive2==1.21.3
channels>=4.0.0
requests>=2.31.0
cryptg>=0.4.0